<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhan.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.fuhan.entity.Product">
    <!--@mbg.generated-->
    <!--@Table t_product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="sale_price" jdbcType="DOUBLE" property="salePrice" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="sale_point" jdbcType="VARCHAR" property="salePoint" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column=" update-time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="Stock" jdbcType="INTEGER" property="stock" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="my_type_id" jdbcType="INTEGER" property="myTypeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, price, sale_price, images, sale_point, flag, create_time, ` update-time`, 
    type_id, pid, Stock, type_name, my_type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fuhan.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product (`name`, price, sale_price, 
      images, sale_point, flag, 
      create_time, ` update-time`, type_id, 
      pid, Stock, type_name, 
      my_type_id)
    values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{salePrice,jdbcType=DOUBLE}, 
      #{images,jdbcType=VARCHAR}, #{salePoint,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{typeId,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, 
      #{myTypeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fuhan.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="salePoint != null">
        sale_point,
      </if>

        flag,

        create_time,

        ` update-time`,
      <if test="typeId != null">
        type_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="stock != null">
        Stock,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="myTypeId != null">
        my_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="salePoint != null">
        #{salePoint,jdbcType=VARCHAR},
      </if>
      1,now(),now(),
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="myTypeId != null">
        #{myTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuhan.entity.Product">
    <!--@mbg.generated-->
    update t_product
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="salePoint != null">
        sale_point = #{salePoint,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        ` update-time` = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        Stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="myTypeId != null">
        my_type_id = #{myTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuhan.entity.Product">
    <!--@mbg.generated-->
    update t_product
    set `name` = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      images = #{images,jdbcType=VARCHAR},
      sale_point = #{salePoint,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ` update-time` = #{updateTime,jdbcType=TIMESTAMP},
      type_id = #{typeId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      Stock = #{stock,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      my_type_id = #{myTypeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getList" resultMap="BaseResultMap">
    select * from t_product where t_product.flag = '1'
  </select>
    <update id="falseDeleteById" parameterType="int">
      update t_product set t_product.flag='0' where id=#{id}
    </update>
  <update id="falseBatchDelById">
    update t_product set t_product.flag='0' where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
    <select id="getSomeList" resultType="com.fuhan.vo.ProductSolrVO">
      select id,t_product.name,price,sale_point,images from t_product where flag='1';
    </select>
  <select id="getVOById" resultType="com.fuhan.vo.ProductSolrVO">
    select id,t_product.name,price,sale_point,images from t_product where flag='1' and id=#{id};
  </select>
    <select id="getListByIds" resultMap="BaseResultMap" parameterType="integer">
        select * from  t_product where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
          #{id}
        </foreach>
    </select>
</mapper>