<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhan.v17miaosha.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.fuhan.v17miaosha.entity.Product">
    <!--@mbg.generated-->
    <!--@Table t_product-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stock, product_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fuhan.v17miaosha.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product (stock, product_id)
    values (#{stock,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fuhan.v17miaosha.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stock != null">
        stock,
      </if>
      <if test="productId != null">
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuhan.v17miaosha.entity.Product">
    <!--@mbg.generated-->
    update t_product
    <set>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuhan.v17miaosha.entity.Product">
    <!--@mbg.generated-->
    update t_product
    set stock = #{stock,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>